@import "../variables";

.Banner {
  position: relative;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  article {
    width: 23%;
    padding: 1%;
    padding-left: 2%;
    position: absolute;
    top: 15%;
    right: 10%;
    background-color: white;
    line-height: 0.8;
    p {
      color: $primary_color;
    }
    .firstText {
      font-weight: 700;
      font-size: 24px;
      line-height: 0.5;
    }
  }
}

//////////////////////////////////////////////Responsive//////////////////////////////////////////////

@media screen and (max-width: 1061px) {
  .Banner {
    article {
      width: 33%;
    }
  }
}

@media screen and (max-width: 740px) {
  .Banner {
    article {
      width: 42%;
    }
  }
}

@media screen and (max-width: 581px) {
  .Banner {
    article {
      width: 55%;
      .firstText {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .Banner {
    article {
      width: 55%;
      .firstText {
        font-size: 15px;
      }
    }
  }
}
