@import "../variables";

.CardsTransactions {
  background-color: white;
  width: 80%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  line-height: 0.7;
  button {
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
  }
  .amount {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  p {
    color: $primary_color;
  }
}

//////////////////////////////////////////////Responsive//////////////////////////////////////////////

@media screen and (max-width: 560px) {
  .CardsTransactions {
    button {
      height: 42px;
      font-size: 12px;
    }
    .amount {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 425px) {
  .CardsTransactions {
    flex-direction: column;
    .informations {
      width: 90%;
      margin-bottom: 3%;
    }
  }
}
